
<script type="text/javascript" src="~/Scripts/jquery-1.7.1.min.js"></script>
<link href="~/Content/Template/Layout/angular.treeview.css" rel="stylesheet" />
<script src="~/Scripts/angular.treeview.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/IdeoTest.js"></script>

<h2>System structure</h2>
<div ng-app="IdeoTest" ng-controller="myController">
    <div data-angular-treeview="true"
         data-tree-id="mytree"
         data-tree-model="List"
         data-node-id="NodeId"
         data-node-label="Name"
         data-node-children="Nodes">
    </div>
</div>

